/* 1행 인트로 */
.intro {height:100vh;display:flex;align-items: center;justify-content: center; flex-flow:column;}
.intro .txt {text-align:center; width:100%;}
.intro .txt .year {font-size:36px;}
.intro .txt h1 {font-size:70px;}
.intro .txt h2 {
    background-color: #B8EAFF;
    font-size:70px; font-weight:700; margin:30px 0; padding:15px 0;
}
.intro .txt .name {font-size:32px; margin-top:50px;}
/* 2행 소개페이지 */
.profile {
    height:70vh; background-color:#B8EAFF;
    display:flex; flex-flow:row nowrap; justify-content: center; gap:80px; padding:15vh 0 0;
}
.profile h2 {font-size:36px; margin-bottom:15px;}
.profile .left {}
.profile .left h2 {}
.profile .left .name {font-size:24px;}
.profile .left ul {margin:20px 0;}
.profile .left ul li {line-height:2;}
.profile .left h3 {
    font-weight:700;line-height:1.6; font-size:32px; 
    font-family: 'Noto Serif KR';
    margin-top:80px;
}
/* 소개페이지 오른쪽 영역 */
.profile .right {}
.profile .right h2 {}
.profile .right p {margin:0 0 30px;}
.profile .right .box {}
.profile .right .box img {width:50px; margin-right:15px;}
/* 프로젝트 */
.project {}
/* 프로젝트 소개 웹(공통) */
.project h1 {
    font-size: 24px;
    color: #000;
    text-align: center;
    font-weight: 800;
    margin: 30px;
}
.project .web {
    display:flex; flex-flow:row nowrap;
}
.project .web .info {width:700px; padding:100px 0 100px 150px;}
.project .web .info h2 {font-weight:600; font-size:32px;}
.project .web .info h2+p {line-height:1.9;}
.project .web .info p.thum {}
.project .web .info p.thum img {max-width:300px;}
.project .web .info .link {
    margin:20px 0; display:flex;
    /* justify-content: space-evenly; */
}
.project .web .info .link a {
    background:#B8EAFF; padding:10px 15px;
    margin-right: 10px;
}
/* .project .web .info .link a:last-child {margin-left:10px;} */
.project .web .info .link a:hover {background:#f1f1f1;}
.project .web .info .detail {}
.project .web .info .detail li {margin-bottom:30px;}
.project .web .info .detail .title {font-weight:600; margin-bottom:10px;}
.project .web .big {
    width:calc(100% - 700px);
    background-size:cover;
}
/* 우측 큰 이미지 개별 선택자★★★★★★=============수정=============★★★★★★*/
/* web1-오설록 */
.project .web1 .big {background-image: url(../img/osull2.png);}
/* web2 추가 웹에 따라 아래 선택자를 복제하여 web 클래스 뒤에 숫자를 붙이고 이미지 경로를 삽입하세요.*/
.project .web2 .big {background-image: url(../img/cel2.png);}
.project .web3 .big {background-image: url(../img/dyson2.png);}
.project .web4 .big {background-image: url(../img/drbrown2.png);}
/* 프로젝트 소개 디자인 공통영역 */
.project .design {}
/* 프로젝트 소개 디자인개별영역 ★★★★★★=============수정=============★★★★★★ */
/* SNS디자인 및 배너디자인 등의 크기 및 원하는 모양을 수정하세요 */
.project .sns {height: 1000px;}
.project .sns h2 {
    color:#000;
    font-size: 24px;
    text-align: center;
    font-weight: 800;
    margin: 30px;
}
.project .sns .contents {
    margin-top: 50px;
        display: flex;
        justify-content: space-around;
        width: 1600px;
        margin: 0 auto;
    }
.project .sns .contents p {
    width: 24.5%;
}
.project .sns .contents p img {
    width: 100%;
}
.project .sns .contents p:last-child img {
    height: 392px;
    width: auto;
}
.project .sns .contents2 {
    margin-top: 50px;
        display: flex;
        /* justify-content: space-around; */
        width: 1600px;
        margin: 10px auto;
    }
.project .sns .contents2 p {
    width: 24.5%;
    margin-right: 10px;
}
.project .sns .contents2 p img {
    width: 100%;
}
.project .bnr {}
/* 마무리인사 */
.end {text-align: center; padding:100px 0; background:#f1f1f1;}
.end h3 {font-size:24px;}
.end .qr {margin:0 auto; width:200px; border-radius: 20px; overflow: hidden;}
.end .qr img {width:100%;}